body, *{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* la partie graphique */
.graph{
    position: relative;
    width: 100%;
    height: 696px;
    /* left: 11px; */
    /* top: calc(50% - 696px/2 + 643.5px); */
    background: #ECF4FD;
}
.graph__group1{
    position: absolute;
    width: 30px;
    height: 48px;
    right: 50px;
    top: 442px;
    top: 410px;

}
.groupe1__vector1{
    display: block; 
    margin: 0 10px 0 10px;
}
.graph__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    /* width: 570px; */
    width: 580px;
    /* height: 376px; */
    height: 250px;
    left: 375px;
    left: 320px;
    /* left: 375px; */
    /* top: calc(50% - 376px/2); */
    top:130px;
    z-index: 20;
}
.content__subtract{
    width: 56px;
    height: 56px;
    position: relative;
}

.content__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 570px;
    height: 280px;
}
.title__first{
    width: 570px;
    height: 128px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    font-size: 48px;
    line-height: 64px;
    color: #333333;
}
.title__second{
    width: 570px;
    height: 128px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #999999;
}
.graph__vector{
    position: absolute;
    /* left: 0.73%; */
    /* right: 67.65%; */
    /* top: 38.94%; */
    bottom: 0;
    z-index: 2;
}
.graph__groupe2{
position: absolute;
left: 88.39%;
/* left: 10px;  */
/* right: 3.89%; */
right: 10px;
/* top: -10.63%; */
/* bottom: 89.32%; */
}
.graph__chart img{
    position: absolute;
    /* width: 570px; */
    width: 400px;
    /* height: 335px; */
    height: 300px;
    left: 975px;
    left: 920px;
    top: 180.5px;


}



